{% extends 'portfolio/base.html' %}
{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="/static/my-portfolio/dist/assets/img/me-circle.png"
             alt="..."/>
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Gosia</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Test Automation Engineer</p>
    </div>
</header>
<body>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    {% load static %}

    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-start">
            {% for project in projects %}
            <!-- Portfolio Item-->
            <div class="col-lg-4 picture">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">

                    {% if project.url %}
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <a class="text-decoration-none" href="{{ project.url }}">
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 text-center text-white">
                                {{ project.title }}
                            </h2>
                        </a>
                    </div>
                    <img class="img-fluid rounded" src="{{ project.image.url }}" height="300">

                    {% else %}
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"></div>
                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 text-center text-white">
                            {{ project.title }} </h2>
                    </div>
                    <img class="img-fluid rounded " src="{{ project.image.url }}" height="300">
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

<!--&lt;!&ndash; About Section&ndash;&gt;-->
<!--<section class="page-section bg-primary text-white mb-0" id="about">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; About Section Heading&ndash;&gt;-->
<!--        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>-->
<!--        &lt;!&ndash; Icon Divider&ndash;&gt;-->
<!--        <div class="divider-custom divider-light">-->
<!--            <div class="divider-custom-line"></div>-->
<!--            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
<!--            <div class="divider-custom-line"></div>-->
<!--        </div>-->
<!--        &lt;!&ndash; About Section Content&ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="col-lg-4 ms-auto"><p class="lead">Gosia jest sztos. Gosia jest sztos. Gosia jest sztos. Gosia-->
<!--                jest sztos. Gosia jest sztos. Gosia jest sztos. Gosia jest sztos. Gosia jest sztos. Gosia jest-->
<!--                sztos. </p></div>-->
<!--            <div class="col-lg-4 me-auto"><p class="lead">Lubiem pieski. Lubiem pieski. Lubiem pieski. Lubiem pieski.-->
<!--                Lubiem pieski. Lubiem pieski. Lubiem pieski. Lubiem pieski. Lubiem pieski. Lubiem pieski. Lubiem-->
<!--                pieski. </p></div>-->
<!--        </div>-->
<!--        &lt;!&ndash;                &lt;!&ndash; About Section Button&ndash;&gt;&ndash;&gt;-->
<!--        &lt;!&ndash;                <div class="text-center mt-4">&ndash;&gt;-->
<!--        &lt;!&ndash;                    <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">&ndash;&gt;-->
<!--        &lt;!&ndash;                        <i class="fas fa-download me-2"></i>&ndash;&gt;-->
<!--        &lt;!&ndash;                        Free Download!&ndash;&gt;-->
<!--        &lt;!&ndash;                    </a>&ndash;&gt;-->
<!--        &lt;!&ndash;                </div>&ndash;&gt;-->
<!--    </div>-->
<!--</section>-->

<!--&lt;!&ndash; Contact Section&ndash;&gt;-->
<!--<section class="page-section" id="contact">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; Contact Section Heading&ndash;&gt;-->
<!--        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>-->
<!--        &lt;!&ndash; Icon Divider&ndash;&gt;-->
<!--        <div class="divider-custom">-->
<!--            <div class="divider-custom-line"></div>-->
<!--            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>-->
<!--            <div class="divider-custom-line"></div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Contact Section Form&ndash;&gt;-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-lg-8 col-xl-7">-->
<!--                &lt;!&ndash; * * * * * * * * * * * * * * *&ndash;&gt;-->
<!--                &lt;!&ndash; * * SB Forms Contact Form * *&ndash;&gt;-->
<!--                &lt;!&ndash; * * * * * * * * * * * * * * *&ndash;&gt;-->
<!--                &lt;!&ndash; This form is pre-integrated with SB Forms.&ndash;&gt;-->
<!--                &lt;!&ndash; To make this form functional, sign up at&ndash;&gt;-->
<!--                &lt;!&ndash; https://startbootstrap.com/solution/contact-forms&ndash;&gt;-->
<!--                &lt;!&ndash; to get an API token!&ndash;&gt;-->
<!--                <form id="contactForm" data-sb-form-api-token="API_TOKEN">-->
<!--                    &lt;!&ndash; Name input&ndash;&gt;-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <input class="form-control" id="name" type="text" placeholder="Enter your name..."-->
<!--                               data-sb-validations="required"/>-->
<!--                        <label for="name">Full name</label>-->
<!--                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Email address input&ndash;&gt;-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <input class="form-control" id="email" type="email" placeholder="name@example.com"-->
<!--                               data-sb-validations="required,email"/>-->
<!--                        <label for="email">Email address</label>-->
<!--                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>-->
<!--                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Phone number input&ndash;&gt;-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890"-->
<!--                               data-sb-validations="required"/>-->
<!--                        <label for="phone">Phone number</label>-->
<!--                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Message input&ndash;&gt;-->
<!--                    <div class="form-floating mb-3">-->
<!--                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..."-->
<!--                                  style="height: 10rem" data-sb-validations="required"></textarea>-->
<!--                        <label for="message">Message</label>-->
<!--                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Submit success message&ndash;&gt;-->
<!--                    &lt;!&ndash;&ndash;&gt;-->
<!--                    &lt;!&ndash; This is what your users will see when the form&ndash;&gt;-->
<!--                    &lt;!&ndash; has successfully submitted&ndash;&gt;-->
<!--                    <div class="d-none" id="submitSuccessMessage">-->
<!--                        <div class="text-center mb-3">-->
<!--                            <div class="fw-bolder">Form submission successful!</div>-->
<!--                            To activate this form, sign up at-->
<!--                            <br/>-->
<!--                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Submit error message&ndash;&gt;-->
<!--                    &lt;!&ndash;&ndash;&gt;-->
<!--                    &lt;!&ndash; This is what your users will see when there is&ndash;&gt;-->
<!--                    &lt;!&ndash; an error submitting the form&ndash;&gt;-->
<!--                    <div class="d-none" id="submitErrorMessage">-->
<!--                        <div class="text-center text-danger mb-3">Error sending message!</div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Submit Button&ndash;&gt;-->
<!--                    <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Send</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- Footer-->
<!--<footer class="footer text-center">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            &lt;!&ndash; Footer Location&ndash;&gt;-->
<!--            <div class="col-lg-4 mb-5 mb-lg-0">-->
<!--                <h4 class="text-uppercase mb-4">Location</h4>-->
<!--                <p class="lead mb-0">-->
<!--                    2215 John Daniel Drive-->
<!--                    <br/>-->
<!--                    Clark, MO 65243-->
<!--                </p>-->
<!--            </div>-->
<!--            &lt;!&ndash; Footer Social Icons&ndash;&gt;-->
<!--            <div class="col-lg-4 mb-5 mb-lg-0">-->
<!--                <h4 class="text-uppercase mb-4">Around the Web</h4>-->
<!--                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>-->
<!--                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>-->
<!--                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>-->
<!--                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>-->
<!--            </div>-->
<!--            &lt;!&ndash; Footer About Text&ndash;&gt;-->
<!--            <div class="col-lg-4">-->
<!--                <h4 class="text-uppercase mb-4">About Freelancer</h4>-->
<!--                <p class="lead mb-0">-->
<!--                    Freelance is a free to use, MIT licensed Bootstrap theme created by-->
<!--                    <a href="http://startbootstrap.com">Start Bootstrap</a>-->
<!--                    .-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->

<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Gosia Website 2021</small></div>
</div>
</body>
{% endblock %}
